body {
    background-color: rgb(250, 247, 247);
}
</style>
<style>
h1 {
    color: rgb(10, 10, 10);
}

img {
    padding: 0px 50px;
}
img:hover {
    background: cyan;
}

h4 {
    padding: 0px 100px;
    margin-top: -6px;
    color: aliceblue;
}

p {
    margin-inline-start: 65px;
    margin-top: -18px;
    color: rgb(255, 253, 253);
}

li {
    float: left;
    padding: 10px ;
}

ul li {
      display: flex;
}

